.homepage-body{
	background-color: lightskyblue;
	padding-top: 50px;	
}

.homepage-div-title{
	background-color: #101010;
}

.homepage-div{
	padding-bottom: 30px;

}

.myWell{
	background-color: lightskyblue;
}
